<h3><a class="btn btn-secondary" href="/routeTaxi" style="margin-right: 10px; background: #283059;"><i class="fa fa-plus"> Create New</i></a>Route Taxi List</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Model</th>
      <th>Color</th>
      <th>Seats</th>
      <th>Track Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.model}}</td>
      <td>{{this.color}}</td>
      <td>{{this.seats}}</td>
      <td>{{this.trackNumber}}</td>
      <td>
        <a href="/routeTaxi/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
        <a href="/routeTaxi/delete/{{this._id}}" onclick="return confirm('Are you sure you to delete this record?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
