<h3>{{viewTitle}}</h3>

<form action="/cashier" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{cashier._id}}">
  <div class="form-group">
    <label>Full Name</label>
    <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{cashier.fullName}}">
    <div class="text-danger">
      {{cashier.fullNameError}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Salary</label>
      <input type="text" class="form-control" name="salary" placeholder="Salary" value="{{cashier.salary}}">
      <div class="text-danger">
        {{cashier.salaryError}}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Age</label>
      <input type="number" class="form-control" name="age" placeholder="Age" value="{{cashier.age}}">
      <div class="text-danger">
        {{cashier.ageError}}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="text" class="form-control" name="email" placeholder="Email" value="{{cashier.email}}">
      <div class="text-danger">
        {{cashier.emailError}}
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Mobile</label>
      <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{cashier.mobile}}">
      <div class="text-danger">
        {{cashier.mobileError}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info"><i class="fa fa-database" style="margin-right: 5px;"></i>Submit</button>
    <a class="btn btn-secondary" href="/cashier/list"><i class="fa fa-list-alt" style="margin-right: 5px;"></i>View All</a>

  </div>

</form>
